/*Classe de uma <img> usada na imagem do perfil*/
.imagemPerfil{
    width: 80;
    height: 80;
}

/*Classe de uma <br> usada no texto do título*/
.textoTitulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*----------CLASSES DE DIVS----------*/
.paginaInicial{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.top{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.fotoPerfil{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.titulo{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.estrela{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.posts{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.post{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.esquerda{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.identificacao{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.direita{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.quem{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.nomedata{
    border: 1px solid black;
    margin: 5 5 5 5;
}   
.seta{
    border: 1px solid black;
    margin: 5 5 5 5;
}     
.texto{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.imagem{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.rodape{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.comentarios{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.retweets{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.loves{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.share{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.menu{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.casa{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.busca{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.notificacoes{
    border: 1px solid black;
    margin: 5 5 5 5;
}
.mensagens{
    border: 1px solid black;
    margin: 5 5 5 5;
}
