.body{

    background-color: rgb(56, 68, 77);
}
.top_bar{
    display: flex;
    background-color: rgb(56, 68, 77);
    width: full;
    height:full;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.foto_perfil{
    height: 49px;
    width: 49px;
    border-radius: 50px;
    
}

.titulo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:800;
    color: white;
    text-align: center;

}

.foto_perfil_post{
    height: 49px;
    width: 49px;
    border-radius: 50px;
    position: relative;
}

.nome_usuario{
    display: inline;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.informacoes{
    color: white;
    display: inline;
    font-family: sytem-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.tweet{
    background-color: rgb(56, 68, 77);  

}


.text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: white;
}

.tweet_end{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;
    fill: white;
}

/*
.write{
    height:22.5px;
    width:22.5px;
    background-color: rgb(29, 161, 242);
}
*/